<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><form action="/addItemUser" method="post">
    <center><h1>Add Item</h1></center>
    Item Name: <input type="text" name="itemName"/>
    <br><br>
    Quantity: <input type="number" name="itemQuantity"/>
    <br><br>
    <button onclick="location.href='http://localhost:8080/myPage'" type="button">Back</button>
    <button name="create" type="submit">Add Item</button>
</form></center>
</body>
</html>