<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <div id="wrapper">
        <center>
            <form action="/addItemUser" method="post">
            <center>
                <h1>Add a new item to your wishlist!</h1>
            </center>
            Item Name: <input type="text" name="itemName"/>
            <br><br>
            Quantity: <input type="number" name="itemQuantity"/>
            <br><br>
            Link: <input type="text" name="itemLink"/>
            <br><br>
            <button onclick="location.href='http://localhost:8080/myPage'" type="button">Back</button>
            <button name="create" type="submit">Add Item</button>
            </form>
        </center>
    </div>
</div>
</body>
</html>