<!DOCTYPE html>
<html lang="en">
<link href="style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="background">
        <div id="wrapper" class="center">
            <h1>
                Welcome to Wishfish, a place where you can add a list of wishes and
                try to fish for them from your annoyed relatives!
            </h1>
            <br>
            <a href="/register"><h2>Sign Up</h2></a>

            <a href="/login"><h2>Log In</h2></a>
        </div>
    </div>
</body>
</html>