<!DOCTYPE html>
<html lang="en">
<link href="style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="background">
        <div id="wrapper" class="center">
            <h1>
                Welcome to Wishfish, a place where you can add a list of wishes and
                try to fish for them from your annoyed relatives!
            </h1>

            <br>

            <button onclick="location.href='http://localhost:8080/login'" type="button" class="button">Log In</button>

            <span style="margin-left: 10px; margin-right: 10px;">Or</span>

            <button onclick="location.href='http://localhost:8080/register'" type="button" class="button">Sign Up</button>
        </div>
    </div>
</body>
</html>