<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><form action="/login" method="post">
    <center><h1>Login</h1></center>
    Username: <input type="logintext" name="username"/>
    <br><br>
    Password: <input type="password" name="password"/>
    <br><br>
    <button onclick="location.href='http://localhost:8080/myPage'" type="button">Back</button>
    <button name="create" type="submit">Login</button>
</form></center>
</body>
</html>