<!DOCTYPE html>
<html lang="en">
<link href="style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="center">
        <h4><a href="/addItem">Add an item to your wishlist!</a></h4>
        <form action="/logout">
            <button type="submit" name="logout">Log out</button>
        </form>
        <br><br>
    </div>

    <table id="customers">
        <tr>
            <th style="width: 65%">Item</th>
            <th style="width: 25%">Amount</th>
            <th style="width: 10%"></th>
        </tr>
        <tr th:each="wishlist : ${wishlist}">
            <td th:text="${wishlist.itemName}"></td>
            <td th:text="${wishlist.itemQuantity}"></td>
            <td><center><a href="/deleteItem"><img class="icon" src="trash.png" alt="delete item"></a></center></td>
        </tr>
    </table>
</body>
</html>