<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><form action="/createUser" method="post">
    <center><h1>Register</h1></center>
    Username: <input type="text" name="username"/>
    <br><br>
    Password: <input type="password" name="password"/>
    <br><br>
    <button onclick="location.href='http://localhost:8080/'" type="button">Back</button>
    <button name="create" type="submit">Register</button>
</form></center>
</body>
</html>